.jumbotron {
    background-color: white;
}

.placement {
    position: absolute;
    margin-left: 35%;
    margin-top: 15%;
}

.posi {
    margin-top: 5%;
}

.envi {
    margin-top: 5%;
}

.rect {
    width: 80%;
    position: absolute;
    top: 0%;
}

.testee {
    /* margin-top: 30%; */
    text-decoration : underline;
}

a.button3 {
    padding:0.3em 1.2em;
    margin:0 0.3em 0.3em 0;
    border-radius:2em;
    font-family:'Roboto',sans-serif;
    font-size: 1.3em;
    font-weight:900;
    color:#FFFFFF;
    background-color:#4eb5f1;
    text-align: center;
    transition: all 0.2s;
    margin-left: 50%;
    width: 25%;
    margin-top: -6%;
}

a.button3:hover{
    background-color:#4095c6;
}