/* section {
    font-family: "Helvetica Rounded LT Std Black", sans-serif;
}

.position {
    padding-left: 40%;
    margin-top: 5%;
    margin-bottom: 2%;
}

.title2 {
    padding-left: 35%;
    margin-bottom: 5%;
}

.test {
    border-bottom: purple 7px solid;
} */

.titles {
    color : white;
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 2.5em;
    margin-top: 10%;
}

.text {
    font-family: 'Gotham Rounded', sans-serif;
    font-size: 1.9em;
    margin-top: 8%;
    color: white;
}

.iphone {
    width: 70%;
    position: absolute;
    z-index: 1;
}

.macbook {
    width: 110%;
    position: absolute;
    margin-left: 20%;
    bottom: 0%;
}

.container-size {
    max-width: 1300px !important;
}

.savoir {
    margin-top: 0%;
    text-decoration : underline;
}

.row-pos {
    margin-top: 5%;
    margin-bottom: 15%;
}
